.section {
    display: flex;
    margin: auto;

}

.img {
    border: 10px solid black;
    height: 26em;
    width: 26em;

}

.container {
    display: block;
    margin: 0 auto;
}

.title {
    margin-bottom: 3em;
}

.name {
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

.row {

    background-color: rgb(196, 254, 255);

    /* color: rgb(55, 69, 223); */
    color: black;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 1.3em;
    font-weight: 700;

    width: 30em;
    padding: 2em;

}

.button {
    display: block;
    margin: 1em auto;
    padding: 0.9em;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 1em;

}

.button:hover {
    color: rgb(3, 3, 53);
    background-color: rgb(82, 243, 255);


}