.section {
    display: flex;
    margin: 0 auto;
    padding: 0 15em;
}

.img {
    height: 35em;
    width: auto;
}

.text {
    border: 1px solid black;
    padding: 2em 10em 5em 5em;
}

.textP {
    font-size: 1.3em;
    margin: 2em 0;
}