.row {
    margin: 2em;
    border: 2px solid black;

}

.images {
    width: 26em;
    height: 25em;

}

.details {
    padding: 1em;
    max-width: 25em;

}

.button {
    margin: 1em;

}

.button:hover {
    text-decoration: none;
    color: rgb(3, 3, 53);
}